<section>
    <div class="container text-center  mt-5">
        <h1 class="display-4 text-primary text-white">¡Contáctanos!</h1>
        <p class="text-white text-center h4"><strong>Si tienes alguna pregunta, no dudes en contactarme.</strong></p>
        <a href="mailto:tuemail@example.com" class="btn btn-success btn-outline-warning">bustamantecg@gmail.com</a>
        <p><br></p>        
    </div>
</section>