<section>
    <div class="container  mt-2">
        <h1 class="p-3 text-white text-center">Bienvenido al Almanaque Mundial</h1>
        <p class="text-white text-center  font-black-bold h4">En este sitio encontrarás información de países
            hispanohablantes.</p>
        <p class="text-justify font-weight-bold h5 text-white">
            La hispanofonía o hispanoesfera es el espacio comunicativo que incluye el conjunto de países y
            territorios en los que el español o castellano es oficial o sirve como lengua administrativa o secundaria
            importante.
            Con aproximadamente 463 millones de hablantes nativos, el español es la segunda lengua materna del mundo
            por la cantidad total de personas que lo hablan como su primera lengua (hablantes nativos), siendo
            antecedido únicamente por el mandarín. A esta
            cantidad se suman 75 millones de personas que hablan el español como segunda lengua o hablantes de
            competencia limitada y 22 millones de estudiantes, lo cual
            conforma una población total de 580 millones de personas hispanohablantes en el mundo; colocando al
            castellano en cuarta posición global por cantidad total de
            hablantes (nativos y no nativos), después del mandarín, el inglés y el hindi y en la tercera por su uso en
            la comunicación internacional, producción de
            información en los medios masivos de comunicación y usuarios de Internet.
        </p>
        <p class="text-justify font-weight-bold h5 text-white">
            Los países en los que el español es lengua oficial son 21:
            Argentina, Bolivia, Chile, Colombia, Costa Rica, Cuba, Ecuador, El Salvador, Guatemala, Honduras, México,
            Nicaragua, Panamá, Paraguay, Perú, Puerto Rico,
            República Dominicana, Uruguay, Venezuela, Guinea Ecuatorial. Además, hay países en los que el español no es
            lengua oficial, pero sí hay más de 100,000
            hispanohablantes. Estos países se encuentran en África, Asia y Europa.
        </p>

    </div>
</section>